*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #222;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.heading{
  margin: 10% 35% ;
  font-size: 2rem;
  padding: 10px;
  position: absolute;
  color: white;
}
.heading .count{
  font-size: 5rem;
  color: green; 
  margin-left: 45%;
}
.btn{
  margin: 30% 33% ;
  font-size: 2rem;
  padding: 10px;
  position: absolute;  
  display: flex;
  gap: 50px;
}
.btn .decrease{
  font-size: 1.5rem;
  background-color: white;
  border: 2px solid blue;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 105px;
  cursor: pointer;
}
.btn .reset{
  font-size: 1.5rem;
  background-color: white;
  border: 2px solid blue;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 105px;
  cursor: pointer;
}
.btn .increase{
  font-size: 1.5rem;
  background-color: white;
  border: 2px solid blue;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 105px;
  cursor: pointer;
}